{% extends "layout.html" %}

{% block body %}
    <div class='bg-light container'>
        <div class='float-left'><a href="{{url_for('search')}}">Home</a></div>
        <div class='float-right'>{{username}}   <a href="{{url_for('logout')}}">   Log out</a></div>
    </div>
    <header class='container bg-light h-25 text-center'>
        <h1 class="display-2 py-4">Book Reviews</h1>
    </header>
    <nav class='navbar navbar-expand bg-dark navbar-dark  justify-content-center'> 
        <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-2" name="search" placeholder="ISBN, title, or aurhor" type="text"/>
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </nav>
    <main>
        <div class='container bg-light h-25 p-3'>
            <h3 class='text-center p-3'>{{ message }}</h3>
            
            <div class="list-group">
                {% for x in data %}
                <div class="list-group-item list-group-item-action">
                    <h5 class='text-primary'><a href="/book/{{x.isbn}}">{{x.title}}</a></h5>
                     by {{x.author}} in {{x.year}}
                     <h6 class='float-right'>isbn: {{x.isbn}}</h6></div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}    